.contact {
  background: url(/assets/end-users-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  padding: 95px 0 75px;
}

.contact h2 {
  text-align: center;
  color: #fff;
  font-size: 54px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.5px;
  margin: 0 0 35px;
}

.contact .subtitle {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}

.contact form {
  font-family: "Roboto";
}

.contact .form-group {
  margin-bottom: 26px;
}

.contact form label {
  color: #EE7444;
  font-size: 18px;
  margin: 0 0 12px;
  font-weight: 400;
}

.contact form input,
.contact form textarea {
  padding: 16px 24px;
  border: 1px solid #D0D5DD;
  background: none;
  color: #D0D5DD;
  border-radius: 0;
}

.contact form input:valid:not(:placeholder-shown),
.contact form textarea:valid:not(:placeholder-shown) {
  border-color: #fff;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  color: #D0D5DD;
  opacity: 0.6;
}

.contact form input.is-invalid,
.contact form textarea.is-invalid {
  border-color: red !important;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.contact .btn-more {
  border: none;
  width: 100% !important;
  min-width: auto;
}

.contact .btn-more:disabled {
  background: #ccc;
  color: #666;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .contact h2 {
    font-size: 28px;
    line-height: 37px;
    margin: 15px 0 20px;
  }
}
