<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <h1>Welcome to the EOSC <br>Core Innovation Sandbox</h1>
        <a routerLink="/contact" class="btn-more">Contact us</a>
      </div>
      <div class="col-md-6 col-12">
        <div class="intro-text">
          The EOSC Core Innovation Sandbox by EOSC Beyond is a pre-production environment of the EOSC
          Platform that acts as a testing and staging environment.
        </div>
      </div>
    </div>
  </div>
</header>
