body {
  font-family: 'Quicksand';
  font-weight: 400;
  background: #fff;
}

.container {
  max-width: 1530px;
}

h1 {
  font-family: 'Quicksand';
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 122.222% */
  letter-spacing: 0.5px;
  color: #fff;
  margin: 0 0 90px 0;
}

h2 {
  font-family: 'Quicksand';
  color: #3463AC;
  font-size: 52px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.5px;
  margin: 0 0 35px;
}

h3 {
  color: #EE7444;
  font-family: 'Roboto';
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  margin: 0 0 30px;
  line-height: 130%; /* 36.4px */
  letter-spacing: 0.5px;
}

.subtitle {
  color: #000;
  max-width: 1000px;
  font-family: 'Roboto';
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  letter-spacing: 1px;
  margin-bottom: 90px;
}

.btn-more {
  background: #EE7444;
  color: #fff;
  display: inline-block;
  padding: 8px 0;
  font-family: "Roboto";
  text-align: center;
  font-size: 23px;
  margin-bottom: 25px;
  font-weight: 500;
}

.btn-more:hover {
  background: #3463AC;
  color: #fff;
}

.btn-more.btn-special {
  background: #fff;
  color: #3463AC;
}

.btn-more.btn-special:hover {
  background: #3463AC;
  color: #fff;
}

p {
  margin-bottom: .5rem;
}

a {
  text-decoration: none !important;
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
  justify-content: space-between;
}

.list-wrapper .list-element {
  width: 31%;
  color: #000000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.5px;
  margin-bottom: 35px;
}

.list-wrapper .list-element .list-number {
  color: #EE7444;
  font-family: Quicksand;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 33.6px */
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.special-info {
  color: #6696B6;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 36.4px */
  letter-spacing: 0.5px;
}

.user-guides {
  padding: 240px 0 180px;
  background: url(/assets/user-guides-bg.svg) no-repeat 100% 50%;
}

.user-guides h2 {
  margin: 0 0 40px;
}

.learn-more-link {
  width: 100%;
  border-top: 1px solid #3463AC;
  border-bottom: 1px solid #3463AC;
  padding: 24px 12px;
  color: #EE7444;
  font-size: 24px;
  font-family: "Roboto";
  line-height: 140%;
  display: flex;
  justify-content: space-between;
}

.learn-more-link .link-more {
  display: flex;
  align-items: center;
}

.learn-more-link .link-more svg {
  height: 25px;
  width: 24px;
}

.learn-more-link:hover {
  background: #3463AC;
  color: #fff;
}

.learn-more-link:hover .link-more svg path {
  fill: #ffffff;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.grid-item {
  border: 1px solid var(--www-eosc-beyond-eu-jaffa, #EE7444);
  border-right: none;
  border-bottom: none;
  backdrop-filter: blur(60px);
  display: flex;
  width: 33.3%;
  height: 254px;
  padding: 24px;
  flex-direction: column;
}

.grid-item.item-03,.grid-item.item-04, .grid-item.item-06, .grid-item.item-07 {
  border-right: 1px solid var(--www-eosc-beyond-eu-jaffa, #EE7444);
}

.grid-item.item-05 {
  border-left: none;
}

.grid-item.item-05, .grid-item.item-06, .grid-item.item-07 {
  border-bottom: 1px solid var(--www-eosc-beyond-eu-jaffa, #EE7444);
}

.grid-item .grid-title {
  color: var(--www-eosc-beyond-eu-jaffa, #EE7444);
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  line-height: 130%; /* 36.4px */
  letter-spacing: 0.5px;
  margin-bottom: 17px;
}

.grid-item .grid-desc {
  color: var(--www-eosc-beyond-eu-nero, #FFF);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.5px;
}



@media (max-width:1550px) {

  .container {
    max-width: 1450px !important;
  }

  h1 {
    font-size: 41px;
  }
}

@media (max-width:1400px) {

  h1 {
    font-size: 40px;
    line-height: 55px;
  }

}

@media (max-width:1200px) {

  h1 {
    font-size: 35px;
    line-height: 45px;
  }

  h2 {
    font-size: 39px;
    line-height: 50px;
    margin: 35px 0 26px;
  }
}

@media (max-width:992px) {

  h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .service-box .service-title {
    font-size: 18px;
    line-height: 23px;
  }
  .service-box .service-desc {
    font-size: 14px;
    width: 90%;
    margin-bottom: 20px;
    line-height: 23px;
  }
}

@media (max-width:768px) {

  h1 {
    font-size: 25px;
    line-height: 33px;
    text-align: center;
  }
  h2 {
    font-size: 28px;
    line-height: 37px;
    margin: 15px 0 20px;
  }
  h3 {
    font-size: 22px;
    margin: 0 0 30px;
  }
  .subtitle {
    font-size: 15px;
    margin-bottom: 70px;
  }


  .btn-more {
    display: block;
    text-align: center;
    padding: 7px 0;
    font-size: 19px;
    width: auto !important;
    min-width: auto;
  }

  .list-wrapper {
    margin-bottom: 30px;
  }

  .list-wrapper .list-element {
    width: 100%;
    margin-bottom: 30px;
  }

  .service-box .service-title {
    font-size: 18px;
    line-height: 23px;
  }

  .user-guides {
    background: none;
    padding: 55px 0 65px;
  }

  .learn-more-link {
    padding: 18px 12px;
    font-size: 17px;
  }

  .grid-item {
    width: 100%;
    height: auto;
    border: 1px solid var(--www-eosc-beyond-eu-jaffa, #EE7444) !important;
  }

  .grid-item .grid-title {
    font-size: 22px;
    margin-bottom: 12px;
  }

  .special-info {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

@media (min-width:1920px) {
  header {
    background-size: cover;
  }
}

@media (min-width: 1560px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1535px !important;
  }
}
