<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 d-block">
        <div class="footer-logo d-block text-end">
          <img src="assets/footer-logo.svg" alt="EOSC">
        </div>
        <div class="social d-block text-end">
          <a href="#"><i class="bi bi-linkedin"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-youtube"></i></a>
        </div>
      </div>

      <div class="col-12 d-block">
        <div class="footer-menu d-inline-block">
          <ul>
            <li><a href="#">Terms of use</a> &nbsp;&nbsp;|</li>
            <li><a href="#">Privacy Notice</a></li>
          </ul>
        </div>
        <div class="copyright d-inline-block">
          <img src="assets/footer-ue.svg" alt="UE" style="float: left; margin: 0 10px 0 0;">
          EOSC Beyond is funded by the European Union <br>
          Grant Agreement Number 101131875
        </div>
      </div>
    </div>
  </div>
</footer>
