footer {
  background: #F2F2F2;
  padding: 35px 0;
}
footer .footer-menu {
  width: 100%;
  margin: 0 0 15px;
}
footer .footer-menu ul {
  margin: 0;
  padding: 0;
}
footer .footer-menu ul li {
  display: inline;
  float: left;
  margin-right: 12px;
}
footer .footer-menu ul li a {
  color: #EE7444;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px; /* 128.571% */
  letter-spacing: 1px;
}

footer .footer-logo img {
  max-width: 120px;
}
footer .social {
  margin-top: 10px;
  font-size: 25px;
}
footer .social a {
  color: #000;
  padding: 0 4px;
}
footer .copyright {
  color: #17181C;
  font-family: Quicksand;
  font-size: 10px;
  font-weight: 400;
  width: 100%;
  line-height: 15px; /* 150% */
}

@media (max-width:768px) {

  footer {
    padding: 35px 0;
    margin-top: 40px;
  }

  .footer-logo, .social {
    text-align: center !important;
  }

  footer .footer-menu {
    margin: 30px 0 20px 0;
    text-align: center;
  }
  footer .footer-menu ul li {
    display: inline;
    float: none;
    margin: auto;
  }

}
