<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 d-block">
        <img src="assets/img/footer-logo.svg" alt="EOSC" class="footer-logo">
        <div class="social">
          <a href="#"><i class="bi bi-linkedin"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-youtube"></i></a>
        </div>
      </div>
      <div class="col-12">
        <div class="footer-menu">
          <ul>
            <li><a href="#">Terms of Use</a> | </li>
            <li><a href="#">Privacy Notice</a></li>
          </ul>
        </div>
        <div>
          EOSC Beyond is funded by the European Union <br> Grant Agreement Number 101131875
        </div>
      </div>
    </div>
  </div>
</footer>
