<section class="services-grid" id="services">
  <div class="container">
    <h2 id="eosc-services">EOSC Innovation Sandbox services</h2>
    <div class="row text-center">
      <div class="col-md-4 col-12 mb-4">
        <a href="#" class="service-box">
          <div class="service-pic">
            <img src="assets/service-01.jpg" alt="AAI">
          </div>
          <div class="service-title">AAI</div>
          <div class="service-desc">
            Get unified access to multiple EOSC services using a single set of credentials, supporting access control.
          </div>
          <div class="service-link">Go to the website</div>
        </a>
      </div>
      <div class="col-md-4 col-12 mb-4">
        <a href="https://api.pids.sandbox.eosc-beyond.eu" class="service-box">
          <div class="service-pic">
            <img src="assets/service-02.jpg" alt="PID Service">
          </div>
          <div class="service-title">PID Service</div>
          <div class="service-desc">
            Manage and integrate Persistent Identifiers for consistent and reliable data identification across research.
          </div>
          <div class="service-link">Go to the website</div>
        </a>
      </div>
      <div class="col-md-4 col-12 mb-4">
        <a href="https://integration.providers.sandbox.eosc-beyond.eu/home" class="service-box">
          <div class="service-pic">
            <img src="assets/service-03.jpg" alt="Resource Catalogue">
          </div>
          <div class="service-title">Resource Catalogue</div>
          <div class="service-desc">
            Register, manage, and share resources, benefiting from easy onboarding and tailored management tools.
          </div>
          <div class="service-link">Go to the website</div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-12 mb-4">
        <a href="https://marketplace.sandbox.eosc-beyond.eu/" class="service-box">
          <div class="service-pic">
            <img src="assets/service-04.jpg" alt="Marketplace">
          </div>
          <div class="service-title">Marketplace</div>
          <div class="service-desc">
            Discover and access advanced compute and data services to enhance your research and innovation.
          </div>
          <div class="service-link">Go to the website</div>
        </a>
      </div>
      <div class="col-md-4 col-12 mb-4">
        <a href="https://marketplace.sandbox.eosc-beyond.eu/api_docs/swagger/index.html?urls.primaryName=EOSC%20Marketplace%20Ordering%20API" class="service-box">
          <div class="service-pic">
            <img src="assets/service-05.jpg" alt="Order Management">
          </div>
          <div class="service-title">Order Management</div>
          <div class="service-desc">
            Facilitate resource ordering in the EOSC Marketplace with an easy process and flexible integration options for providers.
          </div>
          <div class="service-link">Go to the website</div>
        </a>
      </div>
      <div class="col-md-4 col-12 mb-4">
        <a href="#" class="service-box">
          <div class="service-pic">
            <img src="assets/service-06.jpg" alt="Monitoring for services">
          </div>
          <div class="service-title">Monitoring for services</div>
          <div class="service-desc">
            Gain insights into service status and reliability with customisable monitoring and instant alerts.
          </div>
          <div class="service-link">Go to the website</div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-12 mb-4">
        <a href="#" class="service-box align-items-stretch">
          <div class="service-pic">
            <img src="assets/service-07.jpg" alt="Accounting for services">
          </div>
          <div class="service-title">Accounting for services</div>
          <div class="service-desc">
            Collect, aggregate, and exchange metrics across different infrastructures and providers.
          </div>
          <div class="service-link">Go to the website</div>
        </a>
      </div>
      <div class="col-md-4 col-12 mb-4">
        <a href="#" class="service-box align-items-stretch">
          <div class="service-pic">
            <img src="assets/service-08.jpg" alt="Accounting for research products">
          </div>
          <div class="service-title">Accounting for research<br>products</div>
          <div class="service-desc">
            Track real-time usage of research products and data sources with detailed analytics and reporting.
          </div>
          <div class="service-link">Go to the website</div>
        </a>
      </div>
      <div class="col-md-4 col-12 mb-4">
        <a href="#" class="service-box align-items-stretch">
          <div class="service-pic">
            <img src="assets/service-09.jpg" alt="Helpdesk">
          </div>
          <div class="service-title">Helpdesk</div>
          <div class="service-desc">
            Access central support with smart search, custom workflows, and multiple access channels.
          </div>
          <div class="service-link">Go to the website</div>
        </a>
      </div>
