<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <h1>Welcome to the EOSC <br>Core Innovation Sandbox</h1>
        <a href="#contact" class="btn-more">Contact us</a>
      </div>

      <div class="col-md-6 col-12">
        <div class="intro-text">
          The EOSC Core Innovation Sandbox by EOSC Beyond is a pre-production environment of the EOSC
          Platform that acts as a testing and staging environment - equipped with advanced automation
          tools - for EOSC Core service providers, EOSC Exchange service providers and EOSC Nodes in
          the integration process with EOSC.
        </div>

        <div class="intro-text second-intro">
          The Sandbox can be used by EOSC Nodes and other providers for the technical
          deployment of their use cases in EOSC.
        </div>

        <div class="intro-text third-intro">
          It can also be used by researchers and other end-users to assess the EOSC capabilities.
        </div>
      </div>
    </div>
  </div>
</header>
