<nav class="eosc-common top sticky-top">
  <div class="container">
    <div class="left-links">
      <a href="#" class="beyond-logo"></a>
    </div>
    <ul class="menu center-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/features">Features</a></li>
      <li><a routerLink="/end-users">End Users</a></li>
      <li><a routerLink="/pilot-nodes">Pilot Nodes</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
