<nav class="eosc-common top sticky-top">
  <div class="container">
    <div class="left-links">
      <a href="#" class="beyond-logo"></a>
    </div>
    <ul class="menu center-links">
      <li><a routerLink="/pilot-nodes">Pilot EOSC Nodes</a></li>
      <li><a routerLink="/end-users">End-users</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/contact">Contact us</a></li>
    </ul>
    <ul class="right-links">
      <li><a href="#">Login</a></li>
    </ul>
  </div>
</nav>
