<div class="sticky-top">
  <div class="commons-header">
    <nav class="eosc-common top " id="top-menu">
      <div class="container">
        <div class="left-links">
          <a href="#top" class="beyond-logo">&nbsp;</a>
        </div>
        <input class="menu-btn" type="checkbox" id="menu-btn">
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

        <ul class="menu center-links">
          <li><a class="" href="#pilot-nodes">Pilot EOSC Nodes and Providers</a></li>
          <li><a class="" href="#end-users">End-users</a></li>
          <li><a class="" href="#services">Services</a></li>
          <li><a class="" href="#contact">Contact us</a></li>
        </ul>

        <ul class="right-links">
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
