<section class="features">
  <div class="container">
    <h2>Main features</h2>
    <div class="row">
      <div class="col-12 feature-row">
        <div class="feature-box">
          <div class="feature-title">Federation Capabilities</div>
          <div class="feature-description">
            <p>The Sandbox offers for integration existing and new federating capabilities of the EOSC Federation
              with compatible interfaces for testing: AAI, the Federated Resource Catalogue, the Helpdesk,
              the Application Workflow Management, etc.</p>
          </div>
        </div>

        <div class="feature-box">
          <div class="feature-title">Technical support</div>
          <div class="feature-description">
            <p>Assist candidate nodes and providers willing
              to integrate with EOSC with dedicated technical support and offer tools to automate
              the integrations (e.g. easy-to-use connectors
              in the form of software libraries).</p>
          </div>
        </div>

        <div class="feature-box">
          <div class="feature-title">Showcase new EOSC Core capabilities</div>
          <div class="feature-description">
            <p>Research communities and scientists can test and assess the advanced EOSC capabilities that EOSC
              Beyond delivers.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
