<section class="end-users" id="end-users">
  <div class="container">
    <h2>For End-Users</h2>
    <div class="subtitle">
      The entry point of the EOSC Core Innovation Sandbox is the EOSC Beyond User Space, the user interface that allows
      you to navigate through the EOSC Federated Catalogue, access and deploy EOSC services and resources.
    </div>

    <h3>As a user in the EOSC Core Innovation Sandbox, you can:</h3>

    <div class="list-wrapper">
      <div class="list-element">
        <div class="list-number"><img src="assets/und-users-icon-01.svg" alt="Icon 1"></div>
        <div class="list-desc">
          Login with your institutional credentials
        </div>
      </div>
      <div class="list-element">
        <div class="list-number"><img src="assets/und-users-icon-02.svg" alt="Icon 2"></div>
        <div class="list-desc">
          Discover services, datasets, and other research products
        </div>
      </div>
      <div class="list-element">
        <div class="list-number"><img src="assets/und-users-icon-03.svg" alt="Icon 3"></div>
        <div class="list-desc">
          Order a service
        </div>
      </div>
      <div class="list-element">
        <div class="list-number"><img src="assets/und-users-icon-04.svg" alt="Icon 4"></div>
        <div class="list-desc">
          Download or transfer datasets
        </div>
      </div>
      <div class="list-element">
        <div class="list-number"><img src="assets/und-users-icon-05.svg" alt="Icon 5"></div>
        <div class="list-desc">
          Check the quality of a service through the EOSC Monitoring service
        </div>
      </div>
      <div class="list-element">
        <div class="list-number"><img src="assets/und-users-icon-06.svg" alt="Icon 6"></div>
        <div class="list-desc">
          Check the usage of a service through the EOSC Accounting service
        </div>
      </div>
    </div>
  </div>
</section>
