<section class="pilot-nodes" id="pilot-nodes">
  <div class="container">
    <h2>For Pilot EOSC Nodes and other providers</h2>

    <div class="row">
      <div class="col-md-6 col-12 subtitle">
        If you are representing a potential new EOSC Node or a service provider, you can use the
        EOSC Innovation Sandbox to integrate your Node or service with EOSC and test and validate
        your work before moving into production.
      </div>
      <div class="col-md-6 col-12 subtitle">
        A team of technical experts is available to support you in this process. Please, <a href="#contact" style="color: #fff; text-decoration: underline">contact us</a> shortly
        describing your case and the type of integration you would like to achieve (e.g. setting up a new
        EOSC node for the structural biology community, publishing data in EOSC, offering cloud resources to EOSC, etc.).
        <a href="#contact" class="btn-more mt-5 mb-0">Contact us</a>
      </div>
    </div>

    <h3>Currently, the following federating capabilities are offered for integration:</h3>

    <div class="row">

      <div class="col-md-4 col-12 mb-5">

        <a href="https://docs.sandbox.eosc-beyond.eu/Service%20Portfolio/AAI/AAI/" target="_blank" class="tile-box-link">
          <div class="tile-box">
            <div class="tile-title">AAI</div>
            <div class="tile-desc">• Allows users to log in with their own institute credentials (eduGAIN) to access
              EOSC resources and enables the single sign-on over nodes of the EOSC Federation.</div>
          </div>
        </a>

        <a href="https://docs.sandbox.eosc-beyond.eu/Service%20Portfolio/Accounting/Accounting/" target="_blank" class="tile-box-link">
          <div class="tile-box">
            <div class="tile-title">Accounting</div>
            <div class="tile-desc">• Provide information about usage of services and research products (e.g. dataset) in EOSC (Core and Exchange).</div>
          </div>
        </a>

        <a href="https://docs.sandbox.eosc-beyond.eu/Service%20Portfolio/Execution%20Framework/Execution%20Framework/" target="_blank" class="tile-box-link">
          <div class="tile-box">
            <div class="tile-title">Execution Framework</div>
            <div class="tile-desc">• Enables the onboarding of deployable applications in EOSC and manage their execution in the underlying infrastructures.</div>
          </div>
        </a>

        <a href="https://docs.sandbox.eosc-beyond.eu/Service%20Portfolio/Helpdesk/Helpdesk/" target="_blank" class="tile-box-link">
          <div class="tile-box">
            <div class="tile-title">Helpdesk</div>
            <div class="tile-desc">• Federation of integrated helpdesks to request support for all EOSC services.</div>
          </div>
        </a>

      </div>


      <div class="col-md-4 col-12 mb-5">

        <div class="tile-box">
          <div class="tile-title">Integration Suite</div>
          <div class="tile-desc">• Set of software libraries (adapters) that facilitate the process to integrate services in EOSC.</div>
        </div>

        <a href="https://docs.sandbox.eosc-beyond.eu/Service%20Portfolio/Messaging/Messaging/" target="_blank" class="tile-box-link">
          <div class="tile-box">
            <div class="tile-title">Messaging</div>
            <div class="tile-desc">• Enable efficient communication between EOSC services.</div>
          </div>
        </a>

        <a href="https://docs.sandbox.eosc-beyond.eu/Service%20Portfolio/Monitoring/Monitoring/" target="_blank" class="tile-box-link">
          <div class="tile-box">
            <div class="tile-title">Monitoring</div>
            <div class="tile-desc">• Collect and publish information about the availability and reliability of EOSC services.</div>
          </div>
        </a>

        <div class="tile-box">
          <div class="tile-title">PID</div>
          <div class="tile-desc">• Assign and resolve PIDs to providers and resources onboarded in EOSC.
          </div>
        </div>

      </div>

      <div class="col-md-4 col-12 mb-5">

        <a href="https://docs.sandbox.eosc-beyond.eu/Service%20Portfolio/Resource%20Catalogue/Resource%20Catalogue/" target="_blank" class="tile-box-link">
          <div class="tile-box">
            <div class="tile-title">Resource Catalogue</div>
            <div class="tile-desc">
              • Federated EOSC Resource Catalogue making the Node exchange resources discoverable.<br>
              • Search engine over the whole EOSC Federation.<br>
              • Interfaces to allow EOSC Nodes to publish (push) and retrieve (pull) resources to/from the federated catalogue
            </div>
          </div>
        </a>

        <a href="https://docs.sandbox.eosc-beyond.eu/Service%20Portfolio/Order%20Management/Order%20Management/" target="_blank" class="tile-box-link">
          <div class="tile-box">
            <div class="tile-title">Order Management</div>
            <div class="tile-desc">A framework for:<br>
              • Providers: to define offers for their services<br>
              • End-users: common interface to request access to the EOSC services</div>
          </div>
        </a>

        <a href="https://marketplace.sandbox.eosc-beyond.eu/" target="_blank" class="tile-box">
          <div class="tile-title">User space</div>
          <div class="tile-desc">• Dynamic customisable web frontend, where the node user logs-in, offering capabilities to discover and access the Node resources.
          </div>
        </a>


      </div>

    </div>
    <!---
            <div class="row">
              <div class="col-md-12 col-12 special-info">
                Go to the provider portal to try out the integrated Sandbox capabilities for providers.
              </div>

              <div class="col-md-6 col-12">

                <a href="https://integration.providers.sandbox.eosc-beyond.eu/home" class="btn-more">Go to the Sandbox Providers Portal</a>
              </div>
        </div> -->
      </div>
    </section>
